html {
    color: black;
    font-family: sans-serif;
}

body {
    width: 400px;
    margin: 0px auto 0px auto;
}

div#groups div.header {
    border-bottom: 1px dotted black;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
    padding: 4px 0px 4px 0px;
}

div#groups div.header a.toggle {
    float: right;
    margin-top: 2px;
}

div#groups div.header div.state {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

div#groups div.services div.name {
    height: 20px;
    font-size: 16px;
    padding: 4px 0px 0px 0px;
}

div#groups div.services div.state {
    float: left;
    margin-right: 10px;
}

div.state {
    width: 24px;
    height: 24px;
    background-image: url('down.png');
}

div.state.up {
    background-image: url('up.png');
}

a.toggle {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('show.png');
}

a.toggle.show {
    background-image: url('hide.png');
}
